* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans";
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(185, 75%, 39%);
  background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-top.svg);
  background-repeat: no-repeat, no-repeat;

  background-position: right 48vw bottom 45vh, left 53vw top 45vh;
  background-size: 50vw, 50vw;
  background-blend-mode: normal;
  height: 100vh;
  overflow: hidden;
  z-index: -5;
}

#card {
  background-color: #ffffff;
  width: 35rem;
  height: 37.4rem;
  border-radius: 1.5rem;
  box-shadow: rgba(8, 70, 94, 0.486) 0px 10px 50px;
  align-items: center;
  text-align: center;
  border-radius: 1.5rem;
  overflow: hidden;
}
.cover-img {
  width: 35rem;
  height: 14rem;
}
.avatar {
  border-radius: 50%;
  width: 9.6rem;
  height: 9.6rem;
  border: 0.4rem solid #ffffff;
  margin-top: -5.3rem;
  margin-bottom: 1.3rem;
  overflow: hidden;
}

.name {
  margin-bottom: 1.3rem;
  color: hsl(229, 23%, 23%);
  font-size: 1.8rem;
  font-weight: 700;
}

.name span,
.address,
.feedback {
  color: hsl(227, 10%, 46%);
  font-weight: 400;
}
.name span {
  margin-left: 0.85rem;
}
.address {
  font-size: 1.4rem;
  margin-bottom: 2.8rem;
}
hr {
  width: 35rem;
  height: 0.5px;
  color: #f2f4f8dc;
  opacity: 0.2;
  /* margin-bottom: 2.4rem; */
}
.feedback-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 2.4rem;
}
.feedback-quantity {
  font-size: 1.8rem;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
  margin-bottom: 0.6rem;
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}
